body{background: linear-gradient(#aee2c1,#82bdFF,#aee2c1);}
h1{
    text-align: center;
}
#loginSuc {
    display: none;
}
#container{
    border: 1px solid #666;
    padding: 20px  40px;
}
#artical {
    border: 1px solid #666;
    padding: 20px 50px;
    margin-bottom: 20px;
}
.author{
    display: inline-block;
}
.artical .title {
    text-align: center;
}
h2{
    text-align: center;
}
#bottom{
    padding-bottom: 20px;
    border-bottom: 1px dashed black
}
#newContent,#newTitle{
    width: 300px;
}
#newContent{
    height: 300px;
    margin-top: 30px;
}
.newBox{
    width: 300px;
    margin: 30px auto;
}