h1{
    text-align: center;
}
#loginSuc {
    display: none;
}
#container{
    border: 1px solid #666;
    padding: 20px  40px;
}
#artical {
    border: 1px solid #666;
    padding: 20px 50px;
    margin-bottom: 20px;
}
.author{
    display: inline-block;
}
.artical .title {
    text-align: center;
}
h2{
    text-align: center;
}
#bottom{
    padding-bottom: 20px;
    border-bottom: 1px dashed black
}
#newContent,#newTitle{
    width: 300px;
}
#newContent{
    height: 300px;
    margin-top: 30px;
}
.newBox{
    width: 300px;
    margin: 30px auto;
}
.head-top{
    padding: 10px;
    background-color: #acccc1;
    margin-top:20px;
}
.blogTitle{
    width: 50%;
    display: inline-block;
}
.manifest {
    width: 49%;
    display: inline-block;
}
.articalTitle, .userDo {
    display: inline-block;
}
.blogItem{
    margin: 10px 0;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
}
.userDo {
    position: absolute;
    right: 0;
}
.delete {
    margin-left: 20px;
}
.delete:hover
{
  cursor: pointer;
}